﻿@model TTS.DAL.odalar

@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
                Kullanici kullanici = Session["Kullanici"] as Kullanici;
                bool superGorevliMi = false;
                if (kullanici is gorevliler)
                {
                    gorevliler superGorevli = kullanici as gorevliler;
                    superGorevliMi = superGorevli.tc_no == "admin" ? true : false;
                }
}
<style>
    dt, dd {
        text-align: left;
    }
</style>
<div class="box">
    <div class="row" style="padding:20px;">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.oda_no)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.oda_no)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.bolumler.adi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.bolumler.adi)
                </dd>
                <dt>
                    Kalan Hasta Sayısı
                </dt>

                <dd>
                    @Model.hastalar.Count / @Model.hasta_kapasitesi
                </dd>
            </dl>
        </div>
    </div>
    <div class="row" style="padding:20px;">
        <div class="col-md-12">
            @if (superGorevliMi)
            {
<a href="../Edit/@Model.id" class="btn btn-default pull-left">Düzenle</a>
}
            <a href="../Index" class="btn btn-primary pull-right">Ana Listeye Dön</a>
        </div>
    </div>
</div>
