﻿@model IEnumerable<TTS.DAL.odalar>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Kullanici kullanici = Session["Kullanici"] as Kullanici;
    bool superGorevliMi = false;
    if (kullanici is gorevliler)
    {
        gorevliler superGorevli = kullanici as gorevliler;
        superGorevliMi = superGorevli.tc_no == "admin" ? true : false;
    }
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/Content/css/buttons/buttons.dataTables.min.css" />
}
<table class="table" id="index-table">
    <thead>
        <tr>
            <th>
                Oda No
            </th>
            <th>
                Kapasite
            </th>
            <th>
                Mevcut
            </th>
            <th>
                Durum
            </th>
            <th>
                Hastalar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(o => o.oda_no))
        {
            bool status = item.hastalar.Count() < item.hasta_kapasitesi;
            string cls = !status ? "bg-danger" : "";
            <tr class="@cls">
                <td>
                    @Html.DisplayFor(modelItem => item.oda_no)
                </td>
                <td>
                    @item.hasta_kapasitesi
                </td>
                <td>
                    @item.hastalar.Count
                </td>
                @if (status)
                {
                    <td>Müsait</td>
                }
                else
                {
                    <td>Dolu</td>
                }
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Hasta</th>
                                <th>TC</th>
                                <th>Giriş Zamanı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (hastalar hasta in item.hastalar)
                            {
                                <tr>
                                    <td>@hasta.ToString()</td>
                                    <td>@hasta.tc_no</td>
                                    <td>
                                        @hasta.hastanin_islemleri.ToList()[0].islem_zamani.ToShortDateString()
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (status)
                    {
                        <a href="@Url.Action("TahsisEt",new { id=item.id })" class="btn btn-sm btn-default" data-toggle="tooltip" title="Bu Odaya Ekle">
                            <i class="fas fa-plus"></i>&nbsp;Bu Odaya Ekle
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="@Url.Action("BaskaHastayeGonder")" class="btn btn-default" data-toggle="tooltip" title="Başka Hastaneye Gönder">
                    <i class="fas fa-door-open"></i>&nbsp;Başka Hastaye Gönder
                </a>
            </td>
        </tr>
    </tfoot>
</table>
@section scripts{
    <!-- DataTables -->
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="/Content/js/plugins/buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/js/plugins/buttons/jszip.min.js"></script>
    <script src="/Content/js/plugins/buttons/pdfmake.min.js"></script>
    <script src="/Content/js/plugins/buttons/vfs_fonts.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.html5.min.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.print.min.js"></script>
    <script>
        $(function () {
            $('#index-table').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Yazdır',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy"></i> Kopyala',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel\'e Aktar',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf"></i> PDF\'e Aktar',
                        key: {
                            key: 'r',
                            altKey: true
                        }
                    },
                    {
                        text: '<i class="fa fa-sync"></i> Yenile',
                        action: function () {
                            location.reload();
                        }
                    }
                ],
                "language": {
                    "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    }
                }
            });


        })
    </script>
}
