﻿
@model TTS.Web.Models.DataModel
@{
    string id = Model.Action == TTS.Web.Models.Action.Create ? "create-modal" : "edit-modal";
    string controller = Model.Type.Name + "Management";
    string action = Model.Action == TTS.Web.Models.Action.Create ? "Create" : "Edit";
}
<div class="modal fade" id="@id">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(action, controller))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" class="name-id" name="id" />
                <input type="hidden" name="aktif_mi" value="true" />
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@Model.Title</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @foreach (System.Reflection.PropertyInfo property in Model.Type.GetProperties().Where(p => !p.Name.Equals("id") && !p.Name.Equals("aktif_mi")))
                    {
                        bool skipProperty = property.GetGetMethod().IsVirtual;
                        if (skipProperty)
                        {
                            continue;
                        }
                        string cls = Model.Action == TTS.Web.Models.Action.Create ? "form-control" : "form-control name-" + property.PropertyName;

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-4">
                                    <label>@property.GetDisplayName()</label>&nbsp;
                                    @if (property.IsRequired())
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </div>
                                <div class="col-xs-8">
                                    <input name="@property.PropertyName" id="@property.PropertyName" type="@property.PropertyType.InputType()" class="form-control" required />
                                </div>

                            </div>
                        </div>
                    }
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-success">KAYDET</button>
                </div>
            }
        </div>
    </div>
</div>
