﻿@model doktorlar
<div class="col-md-6">
    <div class="box">
        <div class="box-header">
            <h3 class="headline">Bekleyen Hastalar</h3>
        </div>
        <div class="box-body">
            <table class="table index-table">
                <thead>
                    <tr>
                        <th>
                            TC No
                        </th>
                        <th>
                            Adı Soyadı
                        </th>
                        <th>
                            Giriş Tarihi
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (HastaServisi Servis = new HastaServisi())
                    {
                        foreach (hastalar hasta in Servis.TumunuGetir().Where(h => h.hemsireler.doktor_id == Model.id))
                        {
                            if (hasta.hastanin_islemleri.Count() == 1)
                            {
                                hastanin_islemleri islem = hasta.hastanin_islemleri.LastOrDefault(i => i.islem_id == 1);
                                if (islem != null)
                                {
                                    <tr>
                                        <td>
                                            @hasta.tc_no
                                        </td>
                                        <td>
                                            @hasta.adi @hasta.soyadi
                                        </td>
                                        <td>
                                            @islem.islem_zamani.ToString("dd.MM.yyyy, HH:mm")
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-xs" role="group">
                                                <a href="@Url.Action("Details","HastaYonetimi",new { id=hasta.id })" class="btn btn-default" data-toggle="tooltip" title="Muayene Başlat">
                                                    <i class="fas fa-stethoscope"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box">
        <div class="box-header">
            <h3 class="headline">Tamamlanan Hastalar</h3>
        </div>
        <div class="box-body">
            <table class="table index-table">
                <thead>
                    <tr>
                        <th>
                            TC No
                        </th>
                        <th>
                            Adı Soyadı
                        </th>
                        <th>
                            Giriş Tarihi
                        </th>
                        <th>
                            Son İşlem
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (HastaServisi Servis = new HastaServisi())
                    {
                        foreach (hastalar hasta in Servis.TumunuGetir().Where(h => h.hemsireler.doktor_id == Model.id))
                        {
                            if (hasta.hastanin_islemleri.Count() > 1)
                            {
                                hastanin_islemleri islem = hasta.hastanin_islemleri.ToList()[hasta.hastanin_islemleri.Count - 1];
                                if (islem != null)
                                {
                                    string islemiYapan = "";
                                    islemiYapan = islem.doktorlar != null ? islem.doktorlar.ToString() : "";
                                    islemiYapan = islem.hemsireler != null ? islem.hemsireler.ToString() : "";
                                    islemiYapan = islem.gorevliler != null ? islem.gorevliler.ToString() : "";
                                    <tr>
                                        <td>
                                            @hasta.tc_no
                                        </td>
                                        <td>
                                            @hasta.adi @hasta.soyadi
                                        </td>
                                        <td>
                                            @islem.islem_zamani.ToString("dd.MM.yyyy, HH:mm")
                                        </td>
                                        <td>
                                            @islem.islemler.adi
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-xs" role="group">
                                                <a href="@Url.Action("Details","HastaYonetimi",new { id=hasta.id })" class="btn btn-default" data-toggle="tooltip" title="Muayene Ekranı">
                                                    <i class="fas fa-stethoscope"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



