﻿@model gorevliler
<div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <h3 class="headline">Yatış Verilen Hastalar</h3>
        </div>
        <div class="box-body">
            <table class="table index-table">
                <thead>
                    <tr>
                        <th>
                            TC No
                        </th>
                        <th>
                            Adı Soyadı
                        </th>
                        <th>
                            Giriş Tarihi
                        </th>
                        <th>
                            Bölümü
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (HastaServisi Servis = new HastaServisi())
                    {

                        foreach (hastalar hasta in Servis.TumunuGetir())
                        {
                            var islemler = hasta.hastanin_islemleri.ToList();
                            var son_islem = islemler.Last();
                            if (islemler.Count != 0 && son_islem.islem_id == 4)
                            {
                                <tr>
                                    <td>
                                        @hasta.tc_no
                                    </td>
                                    <td>
                                        @hasta.adi @hasta.soyadi
                                    </td>
                                    <td>
                                        @hasta.hastanin_islemleri.ToList()[0].islem_zamani.ToString("dd.MM.yyyy, HH:mm")
                                    </td>
                                    <td>
                                        @hasta.hemsireler.bolumler.adi
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-xs" role="group">
                                            <a href="@Url.Action("Tahsis","OdaYonetimi",new { id=hasta.id, bolum_id = hasta.hemsireler.bolum_id})" class="btn btn-default" data-toggle="tooltip" title="Oda Tahsis Et">
                                                <i class="fas fa-door-open"></i>&nbsp;Oda Tahsis Et
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <h3 class="headline">Yatan Hastalar</h3>
        </div>
        <div class="box-body">
            <table class="table index-table">
                <thead>
                    <tr>
                        <th>
                            TC No
                        </th>
                        <th>
                            Adı Soyadı
                        </th>
                        <th>
                            Giriş Tarihi
                        </th>
                        <th>
                            Bölümü
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (HastaServisi Servis = new HastaServisi())
                    {
                        foreach (hastalar hasta in Servis.TumunuGetir())
                        {
                            var islemler = hasta.hastanin_islemleri.ToList();
                            var son_islem = islemler.Last();
                            if (islemler.Count != 0 && son_islem.islem_id == 5)
                            {
                                <tr>
                                    <td>
                                        @hasta.tc_no
                                    </td>
                                    <td>
                                        @hasta.adi @hasta.soyadi
                                    </td>
                                    <td>
                                        @hasta.hastanin_islemleri.ToList()[0].islem_zamani.ToString("dd.MM.yyyy, HH:mm")
                                    </td>
                                    <td>
                                        @hasta.hemsireler.bolumler.adi
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-xs" role="group">
                                            <a href="@Url.Action("Details","HastaYonetimi",new { id=hasta.id })" class="btn btn-default" data-toggle="tooltip" title="Hasta Ekranı">
                                                <i class="fas fa-info-circle"></i>&nbsp;Detaylar
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <h3 class="headline">Taburcu Edilen Hastalar</h3>
        </div>
        <div class="box-body">
            <table class="table index-table">
                <thead>
                    <tr>
                        <th>
                            TC No
                        </th>
                        <th>
                            Adı Soyadı
                        </th>
                        <th>
                            Giriş Tarihi
                        </th>
                        <th>
                            Bölümü
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (HastaServisi Servis = new HastaServisi())
                    {
                        foreach (hastalar hasta in Servis.TumunuGetir())
                        {
                            var islemler = hasta.hastanin_islemleri.ToList();
                            var son_islem = islemler.Last();
                            if (islemler.Count != 0 && son_islem.islem_id == 7)
                            {
                                <tr>
                                    <td>
                                        @hasta.tc_no
                                    </td>
                                    <td>
                                        @hasta.adi @hasta.soyadi
                                    </td>
                                    <td>
                                        @hasta.hastanin_islemleri.ToList()[0].islem_zamani.ToString("dd.MM.yyyy, HH:mm")
                                    </td>
                                    <td>
                                        @hasta.hemsireler.bolumler.adi
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-xs" role="group">
                                            <a href="@Url.Action("Bosalt","OdaYonetimi",new { id=hasta.id })" class="btn btn-default" data-toggle="tooltip" title="Odayı Boşalt">
                                                <i class="fas fa-sign-out"></i>&nbsp;Odayı Boşalt
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



