﻿@{
    Kullanici kullanici = Session["Kullanici"] as Kullanici;
    string img = "", adi = "", bolumu = "";
    using (BolumServisi Servis = new BolumServisi())
    {
        if (kullanici is doktorlar)
        {
            doktorlar kisi = kullanici as doktorlar;
            img = "../../Content/img/doktor.png";
            adi = kisi.adi + " " + kisi.soyadi;
            bolumu = Servis.TekGetir(kisi.bolum_id).adi;
        }
        else if (kullanici is hemsireler && !((hemsireler)kullanici).bas_hemsire_mi)
        {
            hemsireler kisi = kullanici as hemsireler;
            img = "../../Content/img/hemsire.png";
            adi = kisi.adi + " " + kisi.soyadi;
            bolumu = Servis.TekGetir(kisi.bolum_id).adi;
        }
        else if (kullanici is hemsireler)
        {
            hemsireler kisi = kullanici as hemsireler;
            img = "../../Content/img/bas-hemsire.png";
            adi = kisi.adi + " " + kisi.soyadi;
            bolumu = Servis.TekGetir(kisi.bolum_id).adi;
        }
        else
        {
            gorevliler kisi = kullanici as gorevliler;
            img = "../../Content/img/gorevli.png";
            adi = kisi.adi + " " + kisi.soyadi;
        }
    }


}
<header id="navigation-bar" class="main-header">
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini">
            <strong>TTS</strong>
        </span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg">Tedavi Takip Sistemi</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <style>
        .toggle-button {
            float: left;
            background-color: transparent;
            background-image: none;
            padding: 15px 15px;
            font-family: fontAwesome;
        }
    </style>
    <nav class="navbar navbar-default">
        <a href="#" class="toggle-button" data-toggle="push-menu" role="button" style="border-right:solid #fff 1px;">
            <i class="fa fa-bars"></i>
        </a>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="border-right:solid #fff 1px;">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    @if (kullanici is gorevliler)
                    {
                        <li>
                            <a href="@Url.Action("Create","HastaYonetimi")" class="header-button" title="Hasta Kaydı">
                                <i class="fa fa-check"></i>&nbsp;<span class="hidden-sm">Yeni Hasta Kaydı</span>
                            </a>
                        </li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@img" class="user-image" alt="@adi">
                            <span class="hidden-xs">@adi</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="@img" class="img-circle" alt="@adi">
                                <p>
                                    @adi
                                    <small>@bolumu</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="@Url.Action("Profilim","Hesap")" class="btn btn-default btn-flat">
                                        <i class="fas fa-user-circle"></i>&nbsp;Profilim
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a href="@Url.Action("Logout","Hesap")" class="btn btn-default btn-flat">
                                        <i class="fas fa-sign-out-alt"></i>&nbsp;Çıkış Yap
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>
