﻿@model hemsireler
<div class="box col-md-12">
    <div class="box-header">
        <h3 class="headline">Sorumlu Olduğum Hastalar</h3>
    </div>
    <div class="box-body">
        <table class="table index-table">
            <thead>
                <tr>
                    <th>
                        TC No
                    </th>
                    <th>
                        Adı Soyadı
                    </th>
                    <th>
                        Giriş Tarihi
                    </th>
                    <th>
                        Hemşiresi
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @using (HastaServisi Servis = new HastaServisi())
                {
                    var Hastalar = Servis.TumunuGetir().Where(h=>h.hemsireler.bolum_id == Model.bolum_id);
                    bool HemsireNobetciMi = false;
                    using (NobetServisi NobetServis = new NobetServisi())
                    {
                        HemsireNobetciMi = NobetServis.BugunNobetciMi(Model.id);
                        if (!HemsireNobetciMi)
                        {
                            Hastalar = Hastalar.Where(h => h.hemsire_id == Model.id);
                        }
                    }
                    foreach (hastalar hasta in Hastalar)
                    {
                        if (hasta.hastanin_islemleri.Count(i => i.islem_id == 5) == 0)
                        {
                            continue;
                        }

                        if (hasta.hastanin_islemleri.Count(i => i.islem_id == 6) != 0)
                        {
                            continue;
                        }

                        <tr>
                            <td>
                                @hasta.tc_no
                            </td>
                            <td>
                                @hasta.adi @hasta.soyadi
                            </td>
                            <td>
                                @hasta.hastanin_islemleri.ToList()[0].islem_zamani.ToString("dd.MM.yyyy, HH:mm")
                            </td>
                            <td>
                                @(HemsireNobetciMi? hasta.hemsireler.ToString():"BENİM HASTAM")
                            </td>
                            <td>
                                <div class="btn-group btn-group-xs" role="group">
                                    <a href="@Url.Action("Details","HastaYonetimi",new { id=hasta.id })" class="btn btn-default" data-toggle="tooltip" title="Detaylar">
                                        <i class="fas fa-info-circle"></i>&nbsp;Detaylar
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

