﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @Session["Baslik"]
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/icheck/blue.min.css">
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/css/skins/skin-black.min.css">
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    @RenderSection("styles", required: false)


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @Session["Baslik"]
                </h1>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    <script src="~/Content/js/adminlte.js"></script>
    <script>
        $(function () {
            $('li.active').parents('li').addClass('active');
            if ('@ViewBag.ErrorMessage' != '')
                alert('@ViewBag.ErrorMessage');
            $('[data-toggle="tooltip"]').tooltip();

        });
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
