﻿@{
    Kullanici kullanici = Session["Kullanici"] as Kullanici;
}
<aside class="main-sidebar" id="sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@

        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="@Url.Action("Index","HastaYonetimi")">
                    <i class="fas fa-user-injured"></i>&nbsp;
                    <span>Hastalar</span><i class="fa fa-angle-right pull-right"></i>
                </a>
            </li>


            @if (kullanici is hemsireler)
            {
                hemsireler hemsire = kullanici as hemsireler;
                if (hemsire.bas_hemsire_mi)
                {
                    <li>
                        <a href="@Url.Action("Index","HemsireYonetimi")">
                            <i class="fas fa-user-nurse"></i>&nbsp;
                            <span>Hemşireler</span><i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("Takvim","NobetYonetimi")">
                        <i class="fas fa-cloud-moon"></i>&nbsp;
                        <span>Nöbetler</span><i class="fa fa-angle-right pull-right"></i>
                    </a>
                </li>
            }
            else if (kullanici is gorevliler)
            {
                gorevliler superGorevli = kullanici as gorevliler;
                if (superGorevli.tc_no == "admin" && superGorevli.parola == "admin")
                {
                    <li class="header">
                        Süper Yönetici Menüsü
                    </li>
                    <li>
                        <a href="@Url.Action("Index","BolumYonetimi")">
                            <i class="fas fa-sitemap"></i>&nbsp;
                            <span>Bölüm Yönetimi</span><i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>Kullanıcı Yönetimi</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("Index","DoktorYonetimi")">
                                    <i class="fas fa-user-md"></i>&nbsp;
                                    <span>Doktorlar</span><i class="fa fa-angle-right pull-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","HemsireYonetimi")">
                                    <i class="fas fa-user-nurse"></i>&nbsp;
                                    <span>Hemşireler</span><i class="fa fa-angle-right pull-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","GorevliYonetimi")">
                                    <i class="fas fa-users"></i>&nbsp;
                                    <span>Görevliler</span><i class="fa fa-angle-right pull-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","NobetYonetimi")">
                            <i class="fas fa-cloud-moon"></i>&nbsp;
                            <span>Nöbetler</span><i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","IlacYonetimi")">
                            <i class="fas fa-pills"></i>&nbsp;
                            <span>İlaç Yönetimi</span><i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","OdaYonetimi")">
                            <i class="fas fa-door-open"></i>&nbsp;
                            <span>Oda Yönetimi</span><i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","IslemYonetimi")">
                            <i class="fas fa-syringe"></i>&nbsp;
                            <span>İşlem Yönetimi</span><i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>

                }
            }
        </ul>
        @* END Menu *@
    </section>
</aside>