﻿@model TTS.DAL.doktorlar
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.adi, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.adi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.adi, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.soyadi, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.soyadi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.soyadi, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.bolum_id, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownList("bolum_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.bolum_id, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.tc_no, htmlAttributes: new { @class = "control-label" })
                    @ViewBag.TCUygunDegil
                    @Html.EditorFor(model => model.tc_no, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tc_no, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.parola, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.parola, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.parola, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12" style="margin-top:20px;">
                    <a href="Index" class="btn btn-default pull-left">Ana Listeye Dön</a>
                    <input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    }
</div>

