﻿
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Exception exception;
    try
    {
        exception = Session["PageEx"] as Exception;
    }
    catch (Exception ex)
    {
        exception = ex;
    }
}
@section styles{
    <style>
        dt, dd {
            padding-bottom: 10px;
            padding-right: 30px;
        }
    </style>
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Hata Oluştu</h3>
            </div>
            <!-- /.panel-heading -->
            <div class="box-body">
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Hata Verisi</dt>
                        <dd>
                            @if (exception != null)
                            {
                                <pre>
                                <code>
                                        @Newtonsoft.Json.JsonConvert.SerializeObject(exception);
                                    </code>
                                </pre>
                            }
                        </dd>
                    </dl>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>

    </div>
</div>
@section scripts{
    <script>

    </script>
}

