﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Kullanici kullanici = Session["Kullanici"] as Kullanici;
    doktorlar doktor = kullanici is doktorlar ? kullanici as doktorlar : null;
    hemsireler hemsire = kullanici is hemsireler ? kullanici as hemsireler : null;
    gorevliler gorevli = kullanici is gorevliler ? kullanici as gorevliler : null;
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
}
@if (doktor != null)
{
    <div class="row">
        @Html.Partial("_DoktorAnaEkran", doktor)
    </div>
}
@if (hemsire != null)
{
    <div class="row">
        @Html.Partial("_HemsireAnaEkran", hemsire)
    </div>
}
@if (gorevli != null)
{
    <div class="row">
        @Html.Partial("_GorevliAnaEkran", gorevli)
    </div>
}



@section scripts{
    <!-- DataTables -->
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="/Content/js/plugins/buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/js/plugins/buttons/jszip.min.js"></script>
    <script src="/Content/js/plugins/buttons/vfs_fonts.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.html5.min.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.print.min.js"></script>
    <script>
        $(function () {
            $('.index-table').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Yazdır',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel\'e Aktar',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    }
                ],
                "language": {
                    "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    }
                }
            });


        })
    </script>

}
