﻿@model IEnumerable<TTS.DAL.hemsireler>


@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    Kullanici kullanici = Session["Kullanici"] as Kullanici;
    bool superGorevliMi = false;
    if (kullanici is gorevliler)
    {
        gorevliler superGorevli = kullanici as gorevliler;
        superGorevliMi = superGorevli.tc_no == "admin" ? true : false;
    }
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/Content/css/buttons/buttons.dataTables.min.css" />
}
<table class="table" id="index-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tc_no)
            </th>
            @if (superGorevliMi)
            {
                <th>
                    @Html.DisplayNameFor(model => model.parola)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.bas_hemsire_mi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bolumler.adi)
            </th>
            <th>
                Doktoru
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.adi)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.soyadi)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tc_no)
                </td>

                @if (superGorevliMi)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.parola)
                    </td>
                }

                <td>
                    @(item.bas_hemsire_mi ? "Evet" : "Hayır")
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.bolumler.adi)
                </td>

                <td>
                    @item.doktorlar.ToString()
                </td>


                <td>
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="@Url.Action("Details",new { id=item.id })" class="btn btn-default" data-toggle="tooltip" title="Detayları gör">
                            <i class="fa fa-info"></i>
                        </a>
                        @if (superGorevliMi)
                        {
                            <a href="@Url.Action("Edit",new { id=item.id })" class="btn btn-default" data-toggle="tooltip" title="Düzenle">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <a href="@Url.Action("Delete",new { id=item.id })" class="btn btn-default" data-toggle="tooltip" title="Sil">
                                <i class="fa fa-trash"></i>
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <!-- DataTables -->
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="/Content/js/plugins/buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/js/plugins/buttons/jszip.min.js"></script>
    <script src="/Content/js/plugins/buttons/pdfmake.min.js"></script>
    <script src="/Content/js/plugins/buttons/vfs_fonts.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.html5.min.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.print.min.js"></script>
    <script>
        $(function () {
            $('#index-table').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Yazdır',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy"></i> Kopyala',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel\'e Aktar',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf"></i> PDF\'e Aktar',
                        key: {
                            key: 'r',
                            altKey: true
                        }
                    },
                    {
                        text: '<i class="fa fa-sync"></i> Yenile',
                        action: function () {
                            location.reload();
                        }
                    }
                ],
                "language": {
                    "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    }
                }
            });


        })
    </script>



    @if (superGorevliMi)
    {
        <script>
        $(function () {
            $('#index-table').DataTable().button().add(0, {
                text: '<i class="fa fa-plus"></i> Yeni Ekle',
                action: function (e, dt, node, config) {
                    window.location.href = '@Url.Action("Create")';
                }
            });
        });
        </script>
    }


}
