﻿@model TTS.DAL.islemler
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        dt,dd{
            text-align:left !important;
            padding-bottom:10px;
        }
    </style>
}
<div class="box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-12">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.adi, htmlAttributes: new { @class = "control-label" })
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.adi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.adi, "", new { @class = "text-danger" })
                        </dd>
                        <dt>
                        </dt>
                        <dd>
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.doktor_yapabilir_mi)
                                    @Html.LabelFor(model => model.doktor_yapabilir_mi, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.hemsire_yapabilir_mi)
                                    @Html.LabelFor(model => model.hemsire_yapabilir_mi, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.gorevli_yapabilir_mi)
                                    @Html.LabelFor(model => model.gorevli_yapabilir_mi, htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>

                <div class="form-group col-md-12" style="margin-top:20px;">
                    <a href="Index" class="btn btn-default pull-left">Ana Listeye Dön</a>
                    <input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    }
</div>

