﻿@model TTS.DAL.islemler

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	Kullanici kullanici = Session["Kullanici"] as Kullanici;
	bool superGorevliMi = false;
	if(kullanici is gorevliler)
	{
		gorevliler superGorevli = kullanici as gorevliler;
		superGorevliMi = superGorevli.tc_no == "admin"?true:false;
	}
}
<style>
    dt,dd{
        text-align:left;
    }
</style>
<div class="box">
    <div class="row" style="padding:20px;">
		<div class="col-md-12">		
			<h3>Bu kaydı silmek istediğinizden emin misiniz?</h3>
			<dl class="dl-horizontal">
								<dt>
					@Html.DisplayNameFor(model => model.adi)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.adi)
				</dd>
								<dt>
					@Html.DisplayNameFor(model => model.doktor_yapabilir_mi)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.doktor_yapabilir_mi)
				</dd>
								<dt>
					@Html.DisplayNameFor(model => model.hemsire_yapabilir_mi)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.hemsire_yapabilir_mi)
				</dd>
								<dt>
					@Html.DisplayNameFor(model => model.gorevli_yapabilir_mi)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.gorevli_yapabilir_mi)
				</dd>
							</dl>
		</div>
	</div>
	<div class="row" style="padding:20px;">
		<div class="col-md-12">
			<a href="../DeleteConfirmed/@Model.id" class="btn btn-danger pull-left">Sil</a>
			<a href="../Index" class="btn btn-primary pull-right">Ana Listeye Dön</a>
		</div>
	</div>
</div>
