﻿

.button-cell {
    width: 125px !important;
}

.dtr-data {
    left: 200px;
    position: absolute !important;
}

.btn-group > ul > li > a > i {
    width: 15px;
}

.error {
    color: red;
    font-size: 90%;
    font-weight: 400 !important;
    border-color: red !important;
}

.waiter-outer{
    background: white;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0.9;
    transition:all linear 0.3s;
}
.waiter-inner{
    background: url(../img/loader.gif) no-repeat center;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0.9;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
/* The switch - the box around the slider */
/*.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 22px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }*/
