﻿/* === Preloader === */

#universal-preloader{
	
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:1;
	background-color:#fff;
	z-index:999999999;
	
}

#universal-preloader>.preloader{
	
	width:48px;
	height:48px;
	position:absolute;
	top:42%;
	left:45.7%;
	text-align:center;
	
}

.universal-preloader-preloader{
	
	position:absolute; 
	top:0px; 
	left:0px;	
	
}