﻿@model TTS.DAL.bolumler
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="row" style="padding-top:10px;">
			<div class="col-md-12">
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group col-md-6">
			@Html.LabelFor(model => model.adi, htmlAttributes: new { @class = "control-label" })
            
						@Html.EditorFor(model => model.adi, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.adi, "", new { @class = "text-danger" })
					</div>

				<div class="form-group col-md-6">
			@Html.LabelFor(model => model.oda_sayisi, htmlAttributes: new { @class = "control-label" })
            
						@Html.EditorFor(model => model.oda_sayisi, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.oda_sayisi, "", new { @class = "text-danger" })
					</div>

				<div class="form-group col-md-12" style="margin-top:20px;">
				<a href="Index" class="btn btn-default pull-left">Ana Listeye Dön</a>
				<input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
			</div>
		</div>
    </div>
}
</div>

