﻿@{
    Layout = null;
}
@using  TTS.BLL
@model TTS.DAL.Kullanici
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.SisteminAdi | Giriş</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="~/Content/img/fav_icon_sm.png">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/AdminLTE.css">
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>@ViewBag.SisteminAdi</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Oturum açmak için giriş yapınız.</p>

            <form action="@Url.Action("Login","Hesap")" method="post">
                <div class="form-group has-feedback">
                    <input name="tc_no" class="form-control" placeholder="Kullanıcı Adı" value="@(Model != null?Model.tc_no:"")">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input name="parola" type="password" class="form-control" placeholder="Parola" value="@(Model != null?Model.parola:"")">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <p class="login-box-msg" style="color:maroon">@ViewBag.ErrorMessage</p>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Giriş Yap</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- /.social-auth-links -->       
        </div>
    </div>

    <!-- /.login-box -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/js/plugins/validator/validator.min.js" type="text/javascript"></script>
    <script src="~/Content/js/adminlte.js" type="text/javascript"></script>
</body>
</html>