﻿@model TTS.DAL.Kullanici

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    doktorlar doktor = Model is doktorlar ? Model as doktorlar : null;
    hemsireler hemsire = Model is hemsireler ? Model as hemsireler : null;
    gorevliler gorevli = Model is gorevliler ? Model as gorevliler : null;
}
<style>
    dt, dd {
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-md-6">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                @if (doktor != null)
                {
                    <img class="profile-user-img img-responsive img-circle" src="~/Content/img/doktor.png" alt="Doktor">
                }
                else if (hemsire != null)
                {
                    if (hemsire.bas_hemsire_mi)
                    {
                        <img class="profile-user-img img-responsive img-circle" src="~/Content/img/bas-hemsire.png" alt="Hemşire">
                    }
                    else
                    {
                        <img class="profile-user-img img-responsive img-circle" src="~/Content/img/hemsire.png" alt="Baş Hemşire">
                    }
                }
                else
                {
                    <img class="profile-user-img img-responsive img-circle" src="~/Content/img/bas-gorevli.png" alt="Gorevli">
                }

                <h3 class="profile-username text-center">@Model.adi  @Model.soyadi</h3>

                <p class="text-muted text-center">@Model.tc_no</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Adınız</b>
                    </li>
                    <li class="list-group-item">
                        @Model.adi @Model.soyadi
                    </li>
                    <li class="list-group-item">
                        <b>Parolanız</b>
                    </li>
                    <li class="list-group-item">
                        <span id="parola">* * * * * * *</span>&nbsp;<i class="fa fa-eye text-orange" onmousedown="$('#parola').html('@Model.parola');$(this).removeClass('fa-eye').addClass('fa-eye-slash');" onmouseup="$('#parola').html('* * * * * * *');$(this).removeClass('fa-eye-slash').addClass('fa-eye');"></i>
                    </li>
                    <li class="list-group-item text-danger">
                        <small>@ViewBag.ErrorMessage</small> 
                    </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block" onclick="ParolaDegistir()"><b>Parola Değiştir</b></a>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

@section scripts{
    <div class="modal fade" id="modal-password">
        <div class="modal-dialog" style="width: 300px !important;">
            <div class="modal-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id",Model.id)
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Parola Değiştirme Ekranı</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Mevcut Parolanız</label>
                            <input name="old_password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Yeni Parolanız</label>
                            <input name="new_password" id="new_password" class="form-control"  onchange="if ($('#password-confirm').val()!= '' && $('#password-confirm').val() != $(this).val()) alert('Parolalar eşleşmiyor!');"/>
                        </div>
                        <div class="form-group">
                            <label>Yeni Parolanız (Tekrar)</label>
                            <input id="password-confirm" class="form-control" onchange="if ($('#new_password').val() != $(this).val()) alert('Parolalar eşleşmiyor!');"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Vazgeç</button>
                        <button type="submit" class="btn btn-primary">Değiştir</button>
                    </div>
                }
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <script>
        function ParolaDegistir() {
            $('#modal-password').modal();
        }
    </script>
}