﻿@model TTS.DAL.hastalar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Kullanici kullanici = Session["Kullanici"] as Kullanici;
    bool gorevliMi = kullanici is gorevliler;
    bool doktorMu = kullanici is doktorlar;
    bool hemsireMi = kullanici is hemsireler;
    bool yetkiliHemsireMi = false;
    if (hemsireMi)
    {
        hemsireler hemsire = kullanici as hemsireler;
        using (NobetServisi Servis = new NobetServisi())
        {
            var bugunkuNobetler = Servis.TumunuGetir().Where(n =>
            System.Data.Entity.SqlServer.SqlFunctions.DateDiff("DAY", n.tarih, DateTime.Now) == 0);
            bool kullaniciHastaninHemsiresiMi = Model.hemsire_id == kullanici.id;
            bool kullaniciNobetciMi = bugunkuNobetler.Count(n => n.hemsire_id == kullanici.id) > 0;
            if (kullaniciNobetciMi || hemsire.bas_hemsire_mi || kullaniciHastaninHemsiresiMi)
            {
                yetkiliHemsireMi = true;
            }
        }
    }
}

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/Content/css/buttons/buttons.dataTables.min.css" />
}
<style>
    dt, dd {
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="~/Content/img/patient.png" alt="Hasta">

                <h3 class="profile-username text-center">@Model.ToString()</h3>

                <p class="text-muted text-center">@Model.tc_no</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Şikayeti</b>
                    </li>
                    <li class="list-group-item">
                        @Model.hastanin_islemleri.LastOrDefault(i => i.islem_id == 1).aciklama
                    </li>
                </ul>
                @if (doktorMu || gorevliMi || yetkiliHemsireMi)
                {
                    <a href="@Url.Action("Create","HastaIslemleriYonetimi",new { id = Model.id,callbackUrl = Request.Url.ToString() })" class="btn btn-primary btn-block"><b>İşlem Ekle</b></a>
                }
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#islemler" data-toggle="tab">Hastanın İşlemleri</a></li>
                <li><a href="#ilaclar" data-toggle="tab">Hastanın İlaçları</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="islemler">
                    <!-- The timeline -->
                    <ul class="timeline timeline-inverse">
                        @foreach (hastanin_islemleri hasta_islemi in Model.hastanin_islemleri.OrderByDescending(i => i.islem_zamani))
                        {
                            string icon = "", islemi_yapan_adi = ""; ;
                            if (hasta_islemi.doktorlar != null)
                            {
                                icon = "fa-user-md";
                                islemi_yapan_adi = hasta_islemi.doktorlar.ToString();
                            }
                            else if (hasta_islemi.hemsireler != null)
                            {
                                icon = "fa-user-nurse";
                                islemi_yapan_adi = hasta_islemi.hemsireler.ToString();
                            }
                            else
                            {
                                icon = "fa-users";
                                islemi_yapan_adi = hasta_islemi.gorevliler.ToString();
                            }
                            <!-- timeline time label -->
                            <li class="time-label">
                                <span class="bg-red">
                                    @hasta_islemi.islem_zamani.ToLongDateString()
                                </span>
                            </li>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <li>
                                <i class="fas @icon bg-blue" style="border-radius:100%; padding:5px;"></i>

                                <div class="timeline-item">
                                    <span class="time">
                                        @if (hasta_islemi.doktor_id == kullanici.id)
                                        {
                                            <a href="@Url.Action("Edit","HastaIslemleriYonetimi",new { id = hasta_islemi.id,callbackUrl = Request.Url.ToString() })" data-toggle="tooltip" title="Düzenle">
                                                <i class="fa fa-pencil-alt text-orange"></i>
                                            </a>
                                        }
                                        <i class="fa fa-clock-o"></i>&nbsp;
                                        @hasta_islemi.islem_zamani.ToShortTimeString()
                                    </span>

                                    <h3 class="timeline-header"><a href="#">@islemi_yapan_adi</a>&nbsp;@hasta_islemi.islemler.adi</h3>

                                    <div class="timeline-body">
                                        @hasta_islemi.aciklama
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                        }
                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="ilaclar">
                    <table class="table" id="index-table">
                        <thead>
                            <tr>
                                <th>
                                    İlaç
                                </th>
                                <th>
                                    Doz
                                </th>
                                <th>
                                    İlacı Yazan
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.hastanin_ilaclari)
                            {
                                <tr>
                                    <td>
                                        @item.ilaclar
                                    </td>

                                    <td>
                                        @string.Format("Günde {0} kez {1} {2}", item.gunde_kac_kez, item.doz_sayisi, item.ilaclar.birim)
                                    </td>

                                    <td>
                                        @item.doktorlar.ToString()
                                    </td>

                                    <td>
                                        <div class="btn-group btn-group-xs" role="group">
                                            @if (item.doktor_id == kullanici.id)
                                            {
                                                <a href="@Url.Action("Edit","HastaIlaclariYonetimi",new { id=item.id, callbackUrl=Request.Url.ToString() })" class="btn btn-default" data-toggle="tooltip" title="Düzenle">
                                                    <i class="fa fa-pencil-alt"></i>
                                                </a>
                                                <a href="@Url.Action("Delete","HastaIlaclariYonetimi",new { id=item.id, callbackUrl=Request.Url.ToString() })" class="btn btn-default" data-toggle="tooltip" title="Sil">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            }
                                            @if (yetkiliHemsireMi)
                                            {
                                                <a href="@Url.Action("IlacVer","HastaIslemleriYonetimi",new { id=item.id, callbackUrl=Request.Url.ToString() })" class="btn btn-default" data-toggle="tooltip" title="Hastaya İlaç Ver">
                                                    <i class="fas fa-pills"></i>&nbsp;İlaç Ver
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section scripts{
    <!-- DataTables -->
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="/Content/js/plugins/buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/js/plugins/buttons/jszip.min.js"></script>
    <script src="/Content/js/plugins/buttons/pdfmake.min.js"></script>
    <script src="/Content/js/plugins/buttons/vfs_fonts.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.html5.min.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.print.min.js"></script>
    <script>
        $(function () {
            $('#index-table').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Yazdır',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy"></i> Kopyala',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel\'e Aktar',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf"></i> PDF\'e Aktar',
                        key: {
                            key: 'r',
                            altKey: true
                        }
                    },
                    {
                        text: '<i class="fa fa-sync"></i> Yenile',
                        action: function () {
                            location.reload();
                        }
                    }
                ],
                "language": {
                    "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    }
                }
            });


        })
    </script>


    @if (doktorMu)
    {
        <script>
        $(function () {
            $('#index-table').DataTable().button().add(0, {
                text: '<i class="fa fa-plus"></i> Yeni Ekle',
                action: function (e, dt, node, config) {
                    window.location.href = '@Url.Action("Create","HastaIlaclariYonetimi", new { id = Model.id, callbackUrl = Request.Url.ToString() })';
                }
            });
        });
        </script>
    }


}