﻿@model TTS.DAL.hastalar
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.adi, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.adi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.adi, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.soyadi, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.soyadi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.soyadi, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.tc_no, htmlAttributes: new { @class = "control-label" })

                    <input class="form-control" name="tc_no" id="tc_no" maxlength="11" onblur="tckimlikkontorolu(this);" type="text" value="@Model.tc_no"/>
                    @Html.ValidationMessageFor(model => model.tc_no, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.hemsire_id, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownList("hemsire_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.hemsire_id, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12" style="margin-top:20px;">
                    <a href="../Index" class="btn btn-default pull-left">Ana Listeye Dön</a>
                    <input type="submit" value="Kaydet" id="kaydet" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        function tckimlikkontorolu(tcno) {
            var tckontrol, toplam; tckontrol = tcno; tcno = tcno.value; toplam = Number(tcno.substring(0, 1)) + Number(tcno.substring(1, 2)) +
                Number(tcno.substring(2, 3)) + Number(tcno.substring(3, 4)) +
                Number(tcno.substring(4, 5)) + Number(tcno.substring(5, 6)) +
                Number(tcno.substring(6, 7)) + Number(tcno.substring(7, 8)) +
                Number(tcno.substring(8, 9)) + Number(tcno.substring(9, 10));
            strtoplam = String(toplam); onunbirlerbas = strtoplam.substring(strtoplam.length, strtoplam.length - 1);

            if (onunbirlerbas == tcno.substring(10, 11)) {
                $('#kaydet').css('opacity', '1');
            } else {
                alert("Lütfen geçerli bir kimlik numarası giriniz!");
                $('#kaydet').css('opacity', '0');
            }
        }
    </script>
}