﻿@model TTS.DAL.hastanin_islemleri
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.hasta_id)
        @Html.HiddenFor(model => model.islem_zamani)
        @Html.HiddenFor(model => model.doktor_id)
        @Html.HiddenFor(model => model.hemsire_id)
        @Html.HiddenFor(model => model.gorevli_id)
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.islem_id, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownList("islem_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.islem_id, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.aciklama, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.aciklama, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.aciklama, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12" style="margin-top:20px;">
                    <input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    }
</div>

