﻿@model TTS.DAL.hastanin_ilaclari
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.ilac_id, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownList("ilac_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ilac_id, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.doz_sayisi, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.doz_sayisi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.doz_sayisi, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.gunde_kac_kez, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.gunde_kac_kez, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.gunde_kac_kez, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12" style="margin-top:20px;">
                    <input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    }
</div>

