﻿@model TTS.DAL.nobetler
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.hemsire_id, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownList("hemsire_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.hemsire_id, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.tarih, htmlAttributes: new { @class = "control-label" })

                    @Html.TextBoxFor(model => model.tarih, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", required = "required" })
                    @Html.ValidationMessageFor(model => model.tarih, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12" style="margin-top:20px;">
                    <a href="../Index" class="btn btn-default pull-left">Ana Listeye Dön</a>
                    <input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    }
</div>

