﻿@model IEnumerable<TTS.DAL.nobetler>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Kullanici kullanici = Session["Kullanici"] as Kullanici;
    bool superGorevliMi = false;
    if (kullanici is gorevliler)
    {
        gorevliler superGorevli = kullanici as gorevliler;
        superGorevliMi = superGorevli.tc_no == "admin" ? true : false;
    }
    bool basHemsireMi = false;
    var list = Model;
    if (kullanici is hemsireler)
    {
        hemsireler basHemsire = kullanici as hemsireler;
        basHemsireMi = basHemsire.bas_hemsire_mi;
        if (!basHemsireMi)
        {
            list = Model.Where(n => n.hemsire_id == basHemsire.id);
        }
    }
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/Content/css/buttons/buttons.dataTables.min.css" />
}
<table class="table" id="index-table">
    <thead>
        <tr>
            <th>
                Nöbet Tarihi
            </th>
            <th>
                Zamanı
            </th>
            @if (basHemsireMi || superGorevliMi)
            {
                <th>
                    Bölüm
                </th>
                <th>
                    Hemşire Adı Soyadı
                </th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            string satirSinifi = "", zamani = "";
            if (item.tarih.Day == DateTime.Now.Day && item.tarih.Month == DateTime.Now.Month && item.tarih.Year == DateTime.Now.Year)
            {
                satirSinifi = "bg-green-active";
                zamani = "BUGÜN";
            }
            else if (item.tarih.Ticks < DateTime.Now.Ticks)
            {
                satirSinifi = "bg-orange-active";
                zamani = "Eski Nöbet";
            }
            else
            {
                satirSinifi = "bg-purple-active";
                zamani = "İleri Tarihli Nöbet";
            }
            <tr class="@satirSinifi" data-toggle="tooltip" title="@zamani">
                <td>
                    @item.tarih.ToLongDateString()
                </td>
                <td>
                    @zamani
                </td>
                @if (basHemsireMi || superGorevliMi)
                {
                    <td>
                        @item.hemsireler.bolumler.ToString()
                    </td>
                    <td>
                        @item.hemsireler.ToString()
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group">
                            <a href="@Url.Action("Edit",new { id=item.id })" class="btn btn-default" data-toggle="tooltip" title="Düzenle">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <a href="@Url.Action("Delete",new { id=item.id })" class="btn btn-default" data-toggle="tooltip" title="Sil">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <!-- DataTables -->
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="/Content/js/plugins/buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/js/plugins/buttons/jszip.min.js"></script>
    <script src="/Content/js/plugins/buttons/pdfmake.min.js"></script>
    <script src="/Content/js/plugins/buttons/vfs_fonts.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.html5.min.js"></script>
    <script src="/Content/js/plugins/buttons/buttons.print.min.js"></script>
    <script>
        $(function () {
            $('#index-table').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Yazdır',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy"></i> Kopyala',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel\'e Aktar',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf"></i> PDF\'e Aktar',
                        key: {
                            key: 'r',
                            altKey: true
                        }
                    },
                    {
                        text: '<i class="fa fa-sync"></i> Yenile',
                        action: function () {
                            location.reload();
                        }
                    }
                ],
                "language": {
                    "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    }
                }
            });


        })
    </script>
    @if (basHemsireMi || superGorevliMi)
    {
        <script>
        $(function () {
            $('#index-table').DataTable().button().add(0, {
                text: '<i class="fa fa-plus"></i> Yeni Ekle',
                action: function (e, dt, node, config) {
                    window.location.href = '@Url.Action("Create")';
                }
            });
        });
        </script>
    }
}
