﻿@model TTS.DAL.nobetler

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Kullanici kullanici = Session["Kullanici"] as Kullanici;
    bool basHemsireMi = false;
    if (kullanici is hemsireler)
    {
        basHemsireMi = (kullanici as hemsireler).bas_hemsire_mi;
    }
}
@section styles{
    <!-- fullCalendar -->
    <link href="https://fullcalendar.io/releases/core/4.0.1/main.min.css" rel="stylesheet" />
    <link href="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.css" rel="stylesheet" />
    <link href="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.css" rel="stylesheet" />
}

<div class="row" style="padding:10px;">
    @if (basHemsireMi)
    {
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Nöbet Ekle</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Küçült">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                @using (Html.BeginForm("Create", "NobetYonetimi"))
                {
                    <div class="row" style="padding-top:10px;">
                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-md-5">
                                @Html.LabelFor(model => model.hemsire_id, htmlAttributes: new { @class = "control-label" })

                                @Html.DropDownList("hemsire_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.hemsire_id, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-5">
                                @Html.LabelFor(model => model.tarih, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.tarih, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.tarih, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-2" style="margin-top:20px;">
                                <input type="button" value="Kaydet" class="btn btn-primary pull-right" onclick="NobetYaz()" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <!-- /.col -->
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id='calendar-container'>
                    <div id="calendar"></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /. box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section scripts{
    <script src="https://fullcalendar.io/releases/core/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/core/4.0.1/locales-all.js"></script>
    <script src="https://fullcalendar.io/releases/interaction/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.js"></script>
    <!-- Page specific script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendarInteraction.Draggable;

            var containerEl = document.getElementById('external-events');
            var calendarEl = document.getElementById('calendar');

            // initialize the calendar
            // -----------------------------------------------------------------

            var calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: '@Url.Action("Liste","NobetYonetimi")',
                eventClick: function (info) {
                    if ('@basHemsireMi.ToString()' == 'True') {
                        if (confirm('Bu nöbeti silmek istiyor musunuz?')) {
                            location.href = '@Url.Action("Delete","NobetYonetimi")' + '?id=' + info.event.id;
                        }
                    }

                },
                 eventDrop: function (info) {
                     if (confirm(info.event.title + ' isimli hemşirenin nöbetini değiştirmek istiyor musunuz?')) {
                         $.get('@Url.Action("Degistir", "NobetYonetimi")' + '?id=' + info.event.id + '&start=' + info.event.start.toISOString(), function (result) {
                            if (result.Message != '') {
                                alert(result.Message);
                            }
                         });
                     } else {
                         info.revert();
                     }
                 },
            });

            calendar.setOption('locale', 'tr');
            calendar.render();
        });
        function NobetYaz() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "NobetYonetimi")' + '?hemsire_id=' + $('#hemsire_id').val() + '&tarih=' + $('#tarih').val(),
                    success: function(result) {
                        if (result.Message != '') {
                            alert(result.Message);
                        }
                    }
            });
            location.href='@Request.Url.ToString()'
        }
    </script>
}
